@font-face {
  font-family: 'Ramyoon';
  src: url('Ramyoon.otf') format('truetype');
}

@font-face {
  font-family: 'Lemon Milk';
  src: url('LEMONMILK-Bold.otf') format('truetype');
}

* {
  margin: 0;
  padding: 0;
  font-family: 'Poppins', sans-serif;
}

body,
html {
  width: 100%;
  height: 100%;
  overflow: hidden;
  background-color: black;
}

.content {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.title {
  position: relative;
  user-select: none;
  font-family: 'Ramyoon', Arial, sans-serif;
  color: white;
  font-weight: 700;
  font-size: 72px;
  transform: scale(2);
  padding: 30px;
  letter-spacing: 2px;
}


.menu {
  margin-top: 20px;
}

.menu-option {
  display: inline-block;
  font-family: 'Lemon Milk', Arial, sans-serif;
  font-size: 18px;
  padding: 10px 20px;
  margin: 10px;
  background-color: rgba(255, 255, 255, 0.3);
  backdrop-filter: blur(10px);
  border: none;
  cursor: pointer;
  user-select: none;
  border-radius: 4px;
  transition: background-color 0.3s, transform 0.3s;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.menu-option:hover {
  background-color: rgba(255, 255, 255, 0.5);
  transform: scale(1.05);
}

.menu-option:active {
  background-color: rgba(255, 255, 255, 0.7);
}

.modal {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  background-color: rgba(0, 0, 0, 0.5);
}

.modal-content {
  background-color: #fefefe;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  margin: 0 auto;
  padding: 20px;
  border: 1px solid #888;
  width: 300px;
  font-family: 'Ramyoon', sans-serif;
  border-radius: 10px;
  overflow: hidden;
}

.modal h2 {
  font-size: 24px;
  margin-bottom: 10px;
}

.modal p {
  font-size: 16px;
  margin-bottom: 20px;
}

.modal select {
  font-size: 16px;
  padding: 5px;
  margin-bottom: 10px;
}

.modal button {
  font-family: 'Lemon Milk', Arial, sans-serif;
  font-size: 16px;
  padding: 10px 20px;
  margin-top: 10px;
  background-color: rgba(255, 255, 255, 0.3);
  backdrop-filter: blur(10px);
  border: none;
  border-radius: 4px;
  transition: background-color 0.3s, transform 0.3s;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.modal button:hover {
  background-color: rgba(255, 255, 255, 0.5);
  transform: scale(1.05);
}

.modal button:active {
  background-color: rgba(255, 255, 255, 0.7);
}


.modal-content select {
  width: 100%;
  padding: 10px;
  margin-bottom: 20px;
  font-size: 16px;
}

.modal-content option {
  font-size: 14px;
  padding: 5px;
}

.modal-content button {
  font-family: 'Lemon Milk', Arial, sans-serif;
  font-size: 16px;
  color: #aaa;
  padding: 10px 20px;
  margin-top: 10px;
  background-color: rgba(255, 255, 255, 0.3);
  backdrop-filter: blur(10px);
  border: none;
  border-radius: 4px;
  transition: background-color 0.3s, transform 0.3s;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  display: inline-block; /* Added display property */
}

.modal-content button.submitExamBoard {
  width: auto; /* Set width to auto */
  
}

.modal-content button.submitExamBoard:hover,
.modal-content button.submitExamBoard:focus {
  color: black;
}

.modal-content .close {
  float: right;
  margin-left: 10px; /* Added margin-left to create space between buttons */
}

.modal-content .close:hover,
.modal-content .close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

.top-buttons {
  position: absolute;
  top: 10px;
  right: 10px;
}

.top-buttons a {
  display: inline-block;
  margin-left: 5px;
  padding: 5px;
  color: #fff;
  font-size: 20px;
  text-decoration: none;
}


.top-buttons a.github-button {
  background-color: rgba(255, 255, 255, 0.3);
  border-radius: 4px;
}

.top-buttons a.google-form-button {
  background-color: rgba(255, 255, 255, 0.3);
  border-radius: 4px;
}
.top-buttons h1{
  color:white;
  font-family: 'Lemon Milk', Arial, sans-serif;
  font-size: 24px;
  
}

.top-buttons a:hover {
  background-color: rgba(255, 255, 255, 0.5);
  transform: scale(1.05)
}

.modal-content .form-group {
  margin-bottom: 20px;
}

.modal-content label {
  display: block;
  font-size: 16px;
  margin-bottom: 5px;
}

.modal-content input[type="text"],
.modal-content input[type="email"],
.modal-content input[type="password"] {
  width: 94%;
  padding: 10px;
  font-size: 16px;
  border: none;
  background-color: rgba(255, 255, 255, 0.3);
  backdrop-filter: blur(10px);
  color: #000000;
  border-radius: 4px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

.modal-content input[type="text"]:focus,
.modal-content input[type="email"]:focus,
.modal-content input[type="password"]:focus {
  outline: none;
  background-color: rgba(255, 255, 255, 0.5);
}

